body,
.application {
  font-family: "Raleway", sans-serif !important;
}
button,
a {
  color: white !important;
  text-transform: unset !important;
  img {
    margin-bottom: 5px;
    max-height: 25px !important;
  }
}
.splash {
  height: 100%;
}
a {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}
.bg {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 0;
  .lay {
    background-color: black;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  img {
    left: -525px;
    max-height: 100%;
    opacity: 0.5;
    position: relative;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.21);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.logo {
  max-width: 220px;
  position: relative;
}
.submit-btn {
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  margin: 0;
  text-transform: none;
  width: 100%;
}
form {
  width: 100%;
  label {
    color: black;
    font-weight: 600;
  }
  input {
    font-size: 12px !important;
  }
}
.divider {
  border-top: 1px dashed #aaaaaa;
  display: inline-block;
  height: 1px;
  width: 100%;
}
// ToolBar
.logout {
  img {
    color: #980000;
    max-width: 23px;
  }
}

a.login-here {
  font-size: 16px;
  font-weight: 600;
  text-decoration: unset;
}
.or {
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  span {
    border-top: 1px solid #aaaaaa;
    display: inline-block;
    height: 5px;
    width: 40%;
  }
}

// Bottom Nav
// .v-bottom-nav--active {
.v-item-group.v-bottom-nav {
  button {
    color: white;
  }
  .v-btn {
    opacity: 1 !important;
  }
  .v-btn--active {
    background-color: #847000 !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.36) !important;
  }
}

// Profile Pic
.profile-pic {
  position: relative;
  .upload-img {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    img {
      border-radius: unset;
      width: 25px;
    }
  }
}

// Coming Soon
.coming-soon {
  span {
    font-family: "Raleway", sans-serif !important;
  }
}

// Feed
.feed {
  background-color: rgba(77, 77, 77, 0.8) !important;
}
